<header>
  <table>
    <tr>
      <th>
        <h3>
          <a href=""><button style="background-color:rgba(89, 88, 100 );">
              Ivy Eats
            </button></a>
        </h3>
      </th>
    </tr>
  </table>
</header>
<div class="nav1">
  <a routerLink="/home"><button>Home</button></a>
  <a routerLink="/menu"><button>Menu</button></a>
  <a routerLink="/SignUp"><button>Signup</button></a>
  <a routerLink="/mycart"><button>My Cart</button></a>>
</div>
<router-outlet></router-outlet>